

<div class="container col-md-12 editpage bgGrey">
  <div class="col-md-3 newCard">
      <h1> &nbsp &nbsp <center><strong>Edit deck </strong></h1></center>

     <%= bootstrap_form_for(@theme) do |f| %>
        <% if @theme.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

            <ul>
            <% @theme.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="innerCard">
          <%= f.text_field :title, :label => "Theme" %>
          <%= f.file_field :image %>
          <%= f.text_area :description, :rows => "4" %>
              <center><%= f.submit "+", :class => " btn btn-info col-md-12 ", :style => "font-size:1.4em;" %></center>
        </div>
      <% end %>
  </div>
</div>

