
<div class="bgGrey"> 

  <div class="container" style="padding-bottom:25em">


    <div class="cardh1">
      <h1>Decks</h1>
      
      <% @themes.each do |theme| %>
        <div class="col-md-4">
          <div class="boo item card">
            
            <div>
              <div><%= link_to image_tag(theme.image_url, :class => "thumb"), theme_path(theme.id) %> 
              </div> 
            </div>

            <div class="col-md-12 themedivs">
              <br>
              <div class="col-md-10 deckTitle"><h4><%= theme.title %></h4>
                <br>
                <p><%= theme.description %></p>
              </div>

              <div class="awesome col-md-1"> 
                <li><%= link_to content_tag(:i,nil, :class=>"fa fa-cog"), edit_theme_path(theme) %> 
                </li>
                <li><%= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), theme, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
              </div>
            </div>

          </div>
        </div>
      <% end %>
        <div class="col-md-4">
          <div class="card boo item"> 
            <div> <%= link_to content_tag(:i,nil, :class=>"fa fa-plus-square plus"), new_theme_path, :class => "btnCard btn btn-sm btn-info col-md-12" %>
            </div>
            <div class="col-md-10 addDeck"><h3> add a deck</h3>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>





