<h1>Themes</h1>


    <% @themes.each do |theme| %>
      <div class="col-md-4"> 
        <div class="item">
          <ul><li> <center><h4><%= theme.title %><center></h4></li>
            <li><%= link_to image_tag(theme.image_url, :class => "thumb"), theme_path(theme.id) %> </li> 
          </ul>
          <ul class="details">
            <br>
            <li><%= theme.description %></li>
              <div class="edit">
                <li><%= link_to 'Show', theme %></li>
                <li><%= link_to 'Edit', edit_theme_path(theme) %></li>
                <li><%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </div>
          </ul>
        </div>
        <br>
      </div>
    <% end %>
        <br>
        <div>
          <%= link_to 'New Theme', new_theme_path, :class => "btn btn-sm btn-info", :style => "float: left; clear: both; margin: 3em;" %>
        </div>





