<p id="notice"><%= notice %></p>


  <h2> <%= @theme.title %> </h2>
  <h4> <%= @theme.description %> </h4> <br><br>

  <% @cards = Card.all %>
  <% @cards.each do |card| %>
    <% if card.title == @theme.title %>  

      <div class="col-md-3"> 
        <div class="item boo">
            <li><%= image_tag(card.image_url, :class => "thumb") %> </li> 
            <ul class="details">
              <br>
              <li><%= card.caption %></li>
              <div class="edit">
                <li><%= link_to 'Show', card %></li>
                <li><%= link_to 'Edit', edit_card_path(card) %></li>
                <li><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </div>
            </ul>
        </div>
        <br>
      </div>
    <% end %>
  <% end %>


  <%= bootstrap_form_for Card.new do |f| %>
    
      <div class="innerCard col-md-4 topicCard">
        <div class="col-md-7">
        <%= f.hidden_field :title,  value: "#{@theme.title}"  %>
          <%= f.file_field :image %>
          <%= f.text_field :caption %>
          <br>
          <div class="actions">
            <center><%= f.submit "+", :class => " btn btn-info col-md-12 ", :style => "font-size:1.4em;" %></center>
           </div>
        <% end %>
        </div>
      </div>


<div class="col-md-12" style="clear:both; margin:2em;">
  <div> <%= button_to 'Back', themes_path, :style =>"color:white;", :class => "btn btn" %></div>
</div>

 