<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @theme.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @theme.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @theme.description %>
</p>

<% @cards = Card.all %>
 <% @cards.each do |card| %>
      <tr>
        <td><%= card.image %></td>
        <td><%= card.caption %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>





<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
