<h1> All the Cards</h1> <br>

  
  <div class="masonry">

    <% @cards.each do |card| %>
    <div class="col-md-3 boo item">

        <li><%= link_to image_tag(card.image_url, :class => "thumb"), card_path(card.id) %></li>
        
        <div class="edit">
          <li><%= card.caption %></li>
          <li><%= link_to 'Show', card %></li>
          <li><%= link_to 'Edit', edit_card_path(card) %></li>
          <li><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </div>
      </div>
    <% end %>
</div>
<%= link_to 'New Card', new_card_path, :class => "btn btn-sm btn-info" %>
