<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @card.image %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @card.caption %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
