<!DOCTYPE html>
<html>
	<head>
	  <title>Amaranth</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>


	<body>
		<%= nav_bar :brand => "Project Amaranth", :brand_link => root_path,  :static => :top, :responsive => true do%> 
			<%= menu_group do %> 
				<%= menu_item "Home", root_path %> 
				<%= menu_item "Themes", themes_path %>
				<%= menu_item "Cards", cards_path %>
				<%= menu_item "About", about_path %>
			<% end %>
		<% end %>
				

		<div class="main"> 




	<%= yield %>




 		</div>
	</body>
</html>
